<!--The content below is only a placeholder and can be replaced.-->
<div style = "text-align:center">
    <app-hello (valuefromthechild)="myChildData($event)" [name]="name" ></app-hello>
    <app-hello1 [child2data]="child2data">
      <p>child2 content child</p><header>my header</header>
      <app-hello2></app-hello2>
    </app-hello1>
    <p #pRef>
        Start editing to see some magic happen :)
      </p>
      <p>{{hello.name}}</p>
      <p>{{hello1.child2data}}</p>
    <span appChangeText >Welcome to directive sample</span>
 </div>
<router-outlet></router-outlet>
