<div class="container">
  <div class="row">
    <div class="col-md-1">
      <p>welcome</p>
      <div [innerHTML]="mysample"></div>
    </div>
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="logout()">Logout</button>
      <button class="btn btn-primary" (click)="checkLocation()">checklocation</button>
    </div>
  </div>
  <ul *ngFor="let userobject of user">
    <li>
      {{ userobject.name | shorten }}
    </li>
  </ul>
  <p>This is static data</p>
  <ul *ngFor="let userfilterobjectuser of userarray | filterarray">
    <li>
      {{ userfilterobjectuser.name | shorten }}
    </li>
  </ul>
</div>

<div *ngFor="let userobject of user">
  <div class="stars-outer">
    <div class="stars-inner" [ngStyle]="{ width: changerating(ratingvalue) }" ></div>
  </div>
</div>

<button class="btn btn-primary" (click)="refresh()">refresh</button>

